<!DOCTYPE html>
<html lang="en">
<head>
    <title>Browserify</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
    
        .table{
            width: 400px;
            height: auto;
            opacity: 0.7;
            background: silver;
            margin: 20px auto;
        }

        form{
            padding: 10px;
            display: flex;
            flex-direction: column;
        }

        form input{
            width: 100%;
            height: 30px;
            margin-top: 5px;
        }

        button{
            margin-top: 5px;
        }
      
    </style>
</head>
<body>
    
    <div class="table">
        <div style="display: flex; justify-content: center; padding: 10px"> Registration Page </div>
          <form method="POST" name="formOne" action="/register">
                <span id="error" style="display: flex; justify-content: center; color: red">  <%= error_message %> </span>
                <input type="text" name="username" placeholder="username" class="form-control">
                <input type="text" name="email" placeholder="email" class="form-control">
                <input type="text" name="password" placeholder="password" class="form-control">
                <input type="text" name="cpassword" placeholder="confirm password" class="form-control">

                <button id="sendOne" type="submit" name="submit" class="btn btn-primary btn-sm">send</button>
          </form>
    </div>

    <div style="width: 80%; height: 150px; margin: 10px auto;">
        <a href="/login">login</a>
    </div>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/bundle/bundle.js"></script>
</body>
</html>